.form-control {

}

.form-control.error input, .form-control.error textarea{
    border: 4px solid #c01111;
}

.form-control.error span {
    color: red;
}

.form-summary-error {
    border: rgb(146, 19, 19) 1px solid;
    padding: 5px;
    color: #c01111;
}